@import '../themes/common-variables.scss';
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(http://fonts.googleapis.com/earlyaccess/cwtexming.css);

.app {
    overflow-x: hidden;
    background-color: #F5F5F5;

    &.photography {
      background-color: $photography-dark;
    }
}
