.audioList .latest-block {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
  background-color: #FFF;
}

.latest-content .brief {
  word-wrap: break-word;
}

.audioList .latest {
  align-items: center;
  justify-content: center;
}

.audioList .audio-box {
  /*margin: 0 auto;*/
  display: inline-block;
  width: 460px;
  overflow: auto;
  padding-bottom: 15px;
  margin-right: 10px;
}
.audioList .audio-container {
  float: right;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  padding: auto 10px 10px 10px;
}
.audioList .audio-container .audio-title {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.9);
  padding: 10px;
  margin: 10px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  /*border-bottom: solid 1px rgba(0, 0, 0, 0.15);*/
}
.audioList .audio-container .audio-desc p {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  word-break: break-all;
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: 0.3px;
  color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.audioList .audio-box .audio-cover {
  position: relative;
  float: left;
  width: 80px;
  height: 80px;
  margin: 10px;
  background-color: #004ea2;
  background-image: url('/asset/icon/audio@2x.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80px 40px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.audioList .audio-box .audio-cover .audio-btn {
  position: absolute;
  width: 45px;
  height: 45px;
  cursor: pointer; cursor: hand;
  top:0; bottom:0; left:0; right:0; margin:auto;
}
.audioList .audio-box .audio-cover .audio-btn.play {
  background-image: url('/asset/icon/pause-btn@2x.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.audioList .audio-box .audio-cover .audio-btn.pause {
  background-image: url('/asset/icon/play-btn@2x.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.audioList .audio-container .audio-progress {
  width: 100%;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}
.audioList .audio-container .audio-progress .bar {
  height: 5px;
  background-color: #004ea2;
}
.audioList .audio-container .audio-time {
  font-family: 'Noto Sans TC', 'Apple LiGothic Medium', STHeiti, '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  text-align: right;
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: 0.3px;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 5px;
  padding-right: 10px;
}