.footer.gradient {
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	background-image: linear-gradient(117deg, #00cfbd, #004ea2);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.footer {
	margin-top: 20px;
	padding: 55px 122px;
}

.footer .item {
  	padding-top: 10px !important;
	font-family: serif;
	font-size: 17px;
	font-weight: bold;
	letter-spacing: 1.1px;
	color: #ffffff;
}

.footer .item.section {
	padding-bottom:20px !important;
	font-family: 'Noto Sans TC';
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1.9px;
	color: #ffffff;
}

.footer .line {
	margin: 0 auto;
	margin-bottom: 30px;
	display: none;
	width: 100%;
	height: 1px;
	border: solid 1px rgba(0, 0, 0, 0.15);

}

.footer .line-pc {
	margin: 0 auto;
	margin-top: 13px;
	margin-bottom: 15px;
	width: 456px;
	height: 2px;
	border: solid 1px rgba(0, 0, 0, 0.15);

}

.footer .share .item {
	padding: 0 20px;
    padding-bottom: 10px;
    display: inline-block;
}

.footer .share .item:last-child {
	margin-right: 0px;
}

.footer .subscribe {
	margin-bottom: 20px;
}

.footer .share {
	text-align: center;
}

.ui.grid>.row {
	padding: 0;
}

@media only screen and (max-width: 767px) {
	.footer {
		padding: 0;
	}
	.footer .line {
		display: block;
		width: 300px;
	}
	.footer .line-pc {
		display: none;
	}
	.footer .share {
		margin-bottom: 30px;
	}
	.container.footer {
		width: 100%;
	}
	footer.gradient {
		-webkit-backgrdop-filter: initial;
		backdrop-filter: initial;
		background-image: initial;
		box-shadow: none;
	}
	footer .ui.left.aligned.grid {
		display: none;
	}
	.ui.grid>.column:not(.row) {
		padding: 0;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.footer {
		padding: 0;
	}
	.footer .line {
		display: block;
		width: 700px;
	}
	.footer .line-pc {
		display: none;
	}
	.footer .share {
		margin-bottom: 90px;
	}
	.container.footer {
		width: 100%;
	}
	footer.gradient {
		-webkit-backgrdop-filter: initial;
		backdrop-filter: initial;
		background-image: initial;
		box-shadow: none;
	}
	footer .ui.left.aligned.grid {
		display: none;
	}
	.ui.grid>.column:not(.row) {
		padding: 0;
	}
}
@media only screen and (min-width: 1024px) {

}