.blue-line {
  width: 300px;
  height: 5px;
  background-color: #004ea2;
}

.hot-topic {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 4px;
  color: rgba(0, 0, 0, 0.7);
}

h2.colorTitle {
  display:inline-block; 
  color:#014EA2; 
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 2px;
  vertical-align: middle;
}

div.colorBlock {
  display:inline-block; 
  border-radius: 2px;
  background-color:#014EA2; 
  width:10px; 
  height:22px; 
  vertical-align: middle;
  margin-bottom:2px;
  margin-right:10px;
}

div.colorBlock.choice {
  background-color: #004ea2;
  margin-left:0;
  margin-right:20px;
}

.latest {
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
}

.latest-block {
  display:inline-block;
  overflow:auto;
  position:relative;
  margin-bottom: 25px;
  width: 460px;
  height: 230px;
  text-align: left;
}

.latest-block:nth-child(odd) {
  margin-right:20px;
}

.latest-img {
  position:absolute;
  left:0;
  width:140px;
  height:140px; 
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.latest-date {
  position:absolute;
  left:0;
  top:155px;
  width:140px;
  font-family: Times;
  font-size: 15px;
  font-style: italic;
  line-height: 1;
  letter-spacing: 1px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.latest-content {
  float: right;
  width: 300px;
  /*background-color: #FFF;*/
  /*padding:20px;*/
  /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);*/
  margin-bottom: 2px;
}

.latest-content h2 {
  margin-bottom:0;
  font-family: 'Noto Sans TC Regular';
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.8);
}

.latest-content .line {
  display:inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1px;
  border: solid 1px rgba(0, 0, 0, 0.15);
  width:300px;
}

.latest-content .brief {
  font-family: 'Noto Sans TC DemiLight';
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}

.latest-content div.author {
  font-family: serif;
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.5);
}

.latest-cat {
  position:absolute;
  bottom:0;
  right:0;
  margin: 0 20px;
  padding: 0 2px;
  padding-bottom: 15px;
  border-bottom: 3px #145CA9 solid;
  font-family: STSongti-TC;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 1px; color: #004ea2;
}

.separator {
  display:inline-block; 
  margin:4px 10px; 
  border-radius:5px; 
  width: 5px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.cat-label {
  display: inline-block;
  text-indent:0;
}

.cat-label span {
  font-family: serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 1px;
  text-align: right;
  color: #004ea2;
}

/* Mobile */

@media only screen and (max-width: 767px) {
    .mobile-hide{
        display: none !important;
    }

    .latest {
      width:300px;
    }

    .latest-block {
      width: 300px;
      height: 104px;
      margin-bottom: 0;
      border-bottom: solid 1px rgba(0, 0, 0, 0.05);
    }

    .latest-block:nth-child(odd) {
      margin-right:0px;
    }

    .latest-block:last-child {
      border-bottom: none;
    }

    .latest-content {
      width: 220px;
      margin-top:10px;
    }

    .latest-content .line, .latest-content .brief, .latest-content .author  {
      display: none;
    }

    .latest-img {
      width: 60px;
      height: 60px;
      top: 11px;
    }

    .latest-content h2 {
      font-family: 'Noto Sans TC Regular';
      font-size: 17px;
      font-weight: 500;
      line-height: 1.4;
      letter-spacing: 0.9px;
    }

}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .tablet-hide{
      display: none !important;
    }

    .latest {
      width: 700px;
    }

    .latest-block {
      width: 540px;
      height: 200px;
    }

    .latest-block:nth-child(odd) {
      margin-right:0px;
    }

    .latest-content {
      width: 380px;
    }

    .latest-content .line {
      width: 380px;
    }

}

/* Computer */

@media only screen and (min-width: 992px) {
    .computer-hide{
      display: none !important;
    }
}

@media only screen and (min-width: 1200px) {
  div.container {
      width: 960px;
  }
}