#latestStories {
	padding: 35px 32px; 
}

#latestStories .post-block {
	padding: 20px 0;
}

.latestStories-divider {
	display: none;
}

.latestStories-story {
	width: 100%;
}
 
.latestStories-story__img {
	width: 100vw;
	height: calc(100vw * 2/3);
  margin: 0 -32px;
}

.latestStories-story__title {
	padding: 13px 0 0;
}

.latestStories-story__title h2 {
	font-size: 22px;
}

.latestStories-story__brief {
	display: none;
}

.latestStories-story__meta {
	padding: 1em 0 30px;
}

.latestStories-story__author {
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	color: rgba(0,0,0,.8);
}

.latestStories-story__date {
	display: inline-block;
	margin-left: 2px;
	text-align: left;
	color: rgba(0,0,0,.5);
}

.latestStories-story__brief {
	display: none;
}

/* for Monitor */
@media only screen  
	and (min-width: 992px) {
		#latestStories {
			padding: 40px 40px 0; 
		}

		#latestStories .section-title {
			padding-bottom: 35px;
		}

		#latestStories .post-block {
			padding: 0 0 70px;
		}

		.latestStories-container {
			width: calc(100% - 380px);
		}

		.latestStories-container div:first-child .latestStories-divider {
			display: none;
		}

		.latestStories-divider {
			display: block;
			height: 1px;
			margin: 25px 0;
			background-color: #ccc;
		}
		
		.latestStories-story {
			width: 100%;
		}

		.latestStories-story > a {
			display: inline-block;
			width: 280px;
		}

		.latestStories-story__img {
			margin: 0;
			width: 280px;
			height: 205px;
		}

		.latestStories-story__content {
			display: inline-block;
			vertical-align: top;
			padding-left: 25px;
			width: calc(100% - 305px);
		}

		.latestStories-story__title {
			padding: 0;
		}

		.latestStories-story__meta {
			width: 100%;
			padding: 25px 0;
			font-size: 13px;
			font-weight: 700;
		}

		.latestStories-story__brief {
			display: initial;
			font-size: 17px;
			color: #444;
		}
}

/* for Large Monitor */
@media only screen 
	and (min-width: 1200px) {
		.latestStories-story > a {
			width: 380px;
		}

		.latestStories-story__img {
			margin: 0;
			width: 380px;
			height: 280px;
		}

		.latestStories-story__content {
			width: calc(100% - 405px);
		}
}
