.leading-container {
  min-height: 450px;
  max-width: 740px;
  margin: 0 auto;
}
.leading-video-container {
  max-height: 400px;
  overflow: hidden;
}
.slick-next::before,
.slick-prev::before {
  content: none !important;
}
@media screen and (max-width: 840px) {
  .slick-next {
    right: 0px !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
    height: 20% !important;
    background-size: contain !important;
    z-index: 999;
  }
  .slick-prev {
    left: 0px !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
    height: 20% !important;
    background-size: contain !important;
    z-index: 999;
  }
}
@media screen and (max-width: 767px) {
  .leading-container {
    min-height: auto;
  }
}
